* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    /* font-family: 'Muli', sans-serif; */
    letter-spacing: 1px;
    word-spacing: 2px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif !important;
}

/* -------------------- grid -------------------- */
[class*="col-"] {
    float: left;
    padding: 10px;
    /* border: 1px solid red; */
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row {
    max-width: 1180px;
    margin: 0 auto;
    
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.main-nav {
    float: right;
    margin-top: 30px;
    margin-right: 5px;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

.main-nav li a {
    padding: 5px 0;
    color: #fff; 
    text-decoration: none;
    font-size: 22px;
    font-weight: 100;
}

.main-nav li a:hover {
    /* border-bottom: 2px solid #fff; */
    color: skyblue;
}

.main-nav li .active {
    border-bottom: 2px solid #fff;
    font-weight: 400 !important;
}

.fix::after { 
    content: ".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}

.container {
    margin: 0 50px;
}

.prolog {
    text-align: center;
    color: #fff;
    font-weight: 120;
    word-spacing: 3px;
    margin-top: 50px;
}
.text-centered {
    text-align: center;
}



/*-------------------------------- index --------------------------- */

.index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./img/bg/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.index-list-img {
    width: 250px;
    height: 250px;
    display: inline-block;
    vertical-align: middle; 
    margin: 10px;
    cursor: pointer;
}
.index-list-text {
    max-width: 500px;
    height: 250px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    cursor: pointer;
}

.index-list-img li, .index-list-text li {
    list-style: none;
    height: 100%;
    text-align: center;
}

.index-img{
    /* grid-area: 2/2/2/2; */
    max-width: 230px;
    max-height: 230px;
    border-radius: 50%;
    cursor: pointer;
}

.right {
    text-align: right;
}

.index-box {
    /* border: solid 1px; */
    margin-top: 60px;
    margin-bottom: 60px;
}

.index-col-7 {
    margin-top: 40px;
}

h1 {
    font-size: 40px;
    color: white;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h1 span {
    color: orange;
    cursor: pointer;
}

/*-------------------------------- portfolio --------------------------- */
.portfolio {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./img/bg/fox-low-poly.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

.portfolio-header {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.portfolio-list {
    width: 250px;
    height: 250px;
    /* border: solid 1px red; */
    /* background-color: #fff; */
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    cursor: pointer;
}

.portfolio-list li {
    list-style: none;
    vertical-align: middle;
    height: 100%;
    text-align: center;
}

.portfolio-image {
    height: 80%;
    border-radius: 5px;
}

.portfolio-image-mobile {
    height: 50%;
    border-radius: 5px;
}

.portfolio-text {
    font-size: 15px;
    text-align: center;
}

.portfolio-box {
    position: relative;
}

.middle {
    opacity: 0; 
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.portfolio-list:hover .middle {
    opacity: 1;
    transition: 0.5s;
    width: 200px;
}

.portfolio-list:hover .portfolio-text {
    opacity: 0;
}

.portfolio-list:hover .portfolio-image {
    opacity: 0.2;
}

.portfolio-list:hover .portfolio-image-mobile {
    opacity: 0.8;
    height: 51%;
}

.middle .text {
    font-style: bold!important;
    font-size: 15px;
}

.middle .search {
    width: 100px;
    height: 100px;
}
/*
.grid {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    width: 0 auto;
}

.grid-item {
    text-align: center;
    margin: 20px;
    background-color:silver;
} */

/*-------------------------------- Coming Soon --------------------------- */
.coming-soon img {
    /* max-width: 100%; */
    width: 70%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;

}


/*-------------------------------- blog --------------------------- */
.blog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./img/bg/beer-sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/*-------------------------------- Contact --------------------------- */
.contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("./img/bg/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

/*-------------------------------- Contact --------------------------- */
footer {
    margin-right: 30px;
    position: relative;
}

.foot-nav {
    text-align: center;
    margin-top: 30px;
}

.foot-nav li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    color: #fff;
    font-weight: 100;
    /* text-transform: uppercase; */
    font-size: 12px;
    cursor: pointer;
    
}

.copyright {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: center;
    float: bottom;
    color: #fff;
}

.copyright a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
}

.copyright span {
    font-size: 13px;
}

.foot .foot-nav li, .foot .copyright, .foot .copyright a {
    color: black !important;
}